{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-boddy container">
            <h3 align="center" class="card-title">About</h3>
            <div class="card-subtitle">
                <h6>This web application is created by My self (Shahadath Shahriar) from scratch.</h6>
                <h6>I completed this application using Python library Flask(for backend), Bootstrap5(for frontend).</h6>
            </div>
            <div class="card-text">
                <p>You can visit my projects here,</p>
                <ul>
                    <li><a href="https://github.com/shahadathshahriarakash">GitHub</a></li>
                </ul>
                <p>Cantact Me:</p>
                <ul>
                    <li><a href="https://twitter.com/shahadathshahr2">Twitter</a></li>
                    <li><a href="https://www.instagram.com/shahadathshahr2/">Instagram</a></li>
                </ul>
                <p>More about me?</p>
                <ul>
                    <li><a href="http://shahadathshahr2.bio.link">BioLink</a></li>
                </ul>
                <p>Source file for this Project,</p>
                <ul>
                    <li><a href="https://github.com/shahadathshahriarakash/NoteHere">GitHub</a></li>
                    <li><a href="https://replit.com/@shahadathshahr2/NoteHere">ReplIt</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}