{% extends 'base.html' %}

{% block content %}
    <div class="card">

          <div class="card-header">
              <h3 align="center">Log In</h3>
          </div>

          <div class="card-body">
            <form method="post" class="mb-3">

              <div class="row">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" id="email" name="email" placeholder="Enter Email Address" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
              </div>

              <div class="row">
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                  </div>
              </div>

              <button type="submit" class="btn btn-outline-primary">Log In</button>

            </form>

            <div class="card-text mt-2 border-top pt-3">
              <p>Don't have an account? <a href="{{ url_for('auth.signup') }}" class="ml-2">Sign Up.</a></p>
            </div>

          </div>

    </div>
{% endblock content %}